<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Localize LAB</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#8624E1">
    <meta name="msapplication-navbutton-color" content="#8624E1">
    <meta name="apple-mobile-web-app-status-bar-style" content="#8624E1">
</head>
<body class="admin">

<main class="main-admin">
    ${require('../parts/header.html')}
    <div class="admin-wrapper">
        <aside class="admin-sidebar">
            <div class="admin-sidebar__steps">
                <ul>
                    <li class="current">
                        <i><span>1</span></i>
                        <div><span>Select Languages</span></div>
                    </li>
                    <li>
                        <i><span>2</span></i>
                        <div><span>Upload Content</span></div>
                    </li>
                    <li>
                        <i><span>3</span></i>
                        <div><span>Project brief</span></div>
                    </li>
                    <li>
                        <i><span>4</span></i>
                        <div><span>Confirm Word Count</span></div>
                    </li>
                    <li>
                        <i><span>5</span></i>
                        <div><span>Translation project quote</span></div>
                    </li>
                    <li>
                        <i><span>6</span></i>
                        <div><span>Payment</span></div>
                    </li>
                </ul>
                <div class="admin-sidebar__step-name">Select Languages</div>
            </div>
        </aside>
        <div class="admin-content">
            <img src="../../images/admin-bg.png" alt="" class="admin-bg">
            <div class="admin-content__main">
                <span class="admin-title">Tell us about your project</span>
                <div class="admin-lang__wrapper">
                    <div class="admin-lang">
                        <label>Translate from</label>
                        <select class="select">
                            <option selected disabled>Select Languages</option>
                            <option>English</option>
                            <option>Spanish</option>
                            <option>German</option>
                            <option>Chinese</option>
                        </select>
                    </div>
                    <div class="admin-lang">
                        <label>Translate to</label>
                        <select class="select">
                            <option selected disabled>Select Languages</option>
                            <option>English</option>
                            <option>Spanish</option>
                            <option>German</option>
                            <option>Chinese</option>
                        </select>
                    </div>
                </div>
                <div class="admin-step__buttons">
                    <span class="btn btn-next">
                        <span>Next</span>
                        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L7 6L1 11.5" stroke="white" stroke-width="2"/>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</main>

</body>
</html>
