<!DOCTYPE html>
<html>

<body>
  <div class="container" style="width: 1200px;max-width: 100%;padding: 160px 30px 60px;margin: 0 auto;">
    <h1 style="color:#7E57C2; font-weight: 400;">Localize LAB</h1>
    <ul>
      <li>
        <a href="/" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Home page</a>
      </li>
      <li>
        <a href="/admin-step1" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 1
          (Tell us about your
          project)</a>
      </li>
      <li>
        <a href="/admin-step2" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 2
          (Upload Content)</a>
      </li>
      <li>
        <a href="/admin-step3" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 3
          (Project Brief)</a>
      </li>
      <li>
        <a href="/admin-step4" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 4
          (Confirm Word
          Count)</a>
      </li>
      <li>
        <a href="/admin-step5" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 5
          (Translation Project
          Quote)</a>
      </li>
      <li>
        <a href="/admin-step6" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Step 6
          (Payment)</a>
      </li>
      <li>
        <a href="/profile-settings"
          style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Profile Settings</a>
      </li>
      <li>
        <a href="/my-files" style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">My
          Files</a>
      </li>
      <li>
        <a href="/order-details"
          style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Orders Details</a>
      </li>
      <li>
        <a href="/orders-history"
          style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Orders History</a>
      </li>
      <li>
        <a href="/transaction-history"
          style="color:#7E57C2; font-size: 18px; line-height: 150%; text-decoration: none;">Transaction History</a>
      </li>
    </ul>
  </div>
</body>

</html>
