/*  profile  */

.admin-profile__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.admin-profile__left{
  width: 138px;
  @include bp(lg) {
    width: 134px;
    margin: 0 auto 30px;
  }
  @include bp(xs) {
    width: 158px;
  }
}

.admin-profile__user{
  display: flex;
  position: relative;
  cursor: pointer;
  @include bp(lg) {
    justify-content: center;
  }
  &:hover{
    >i{
      background-color: $green;
    }
  }
  >span{
    display: block;
    width: 95px;
    min-width: 95px;
    height: 95px;
    max-height: 95px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 4px 15px #D8DAE6;
    @include bp(xs) {
      width: 114px;
      min-width: 114px;
      height: 114px;
      max-height: 114px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  input{
    display: none;
  }
  >i{
    position: absolute;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 75px;
    border-radius: 50%;
    transition: linear .2s;
    background-color: $purple;
    @include bp(lg) {
      left: auto;
      right: 0;
    }
    @include bp(xs) {
      width: 49px;
      height: 49px;
    }
  }
}

.admin-profile__right{
  width: calc(100% - 138px);
  @include bp(lg) {
    width: 100%;
  }
}

.admin-profile__form-row{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 42px;
  margin-bottom: 30px;
  @include bp(xs) {
    gap: 22px;
    margin-bottom: 22px;
  }
  .input-wrapper{
    width: 319px;
    @include bp(lg) {
      width: 278px;
    }
    @include bp(sm) {
      width: 100%;
    }
    >label{
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2em;
      color: rgba(102, 102, 102, 0.64);
      margin-left: 15px;
      margin-bottom: 13px;
      @include bp(xs) {
        margin-left: 10px;
        margin-bottom: 6px;
        font-size: 11px;
        line-height: 13px;
      }
    }
    .input{
      width: calc(100% - 34px);
    }
  }
}

/*  my files  */

.admin-files__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 17px;
  max-width: 750px;
  @include bp(xs) {
    width: 308px;
    max-width: 100%;
    margin: 0 auto;
    gap: 15px 10px;
  }
}

.admin-file{
  width: 237px;
  height: 79px;
  display: flex;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  text-decoration: none;
  color: $black;
  @include bp(xs) {
    width: 148px;
    max-width: calc(50% - 5px);
    height: 49px;
  }
  &:hover{
    text-decoration: none;
    color: $accent;
  }
}

.admin-file__inner{
  margin: 15px 25px;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  width: calc(100% - 50px);
  @include bp(xs) {
    margin: 9px 15px;
    width: calc(100% - 30px);
  }
  div{
    width: 54px;
    min-width: 54px;
    height: 44px;
    @include bp(xs) {
      height: 27px;
      width: 34px;
      min-width: 34px;
    }
    img{
      height: 100%;
      object-fit: contain;
    }
  }
  span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    @include bp(xs) {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
