.admin-sidebar{
  width: 352px;
  display: flex;
  @include bp(md) {
    width: 100%;
  }
  +.admin-content{
    width: calc(100% - 352px);
    @include bp(md) {
      width: 100%;
    }
  }
  &.logged-in__sm{
    width: 459px;
    @include bp(md) {
      width: 100%;
    }
    +.admin-content{
      width: calc(100% - 459px);
      @include bp(md) {
        width: 100%;
      }
    }
  }
  &.logged-in__lg{
    width: 612px;
    @include bp(md) {
      width: 100%;
    }
    +.admin-content{
      width: calc(100% - 612px);
      @include bp(md) {
        width: 100%;
      }
    }
  }
  &.without-steps__sm{
    width: 108px;
    @include bp(md) {
      width: 100%;
    }
    +.admin-content{
      width: calc(100% - 108px);
      @include bp(md) {
        width: 100%;
      }
    }
  }
  &.without-steps__lg{
    width: 258px;
    @include bp(md) {
      width: 100%;
    }
    +.admin-content{
      width: calc(100% - 258px);
      @include bp(md) {
        width: 100%;
      }
    }
  }
}

.admin-sidebar__steps{
  width: 352px;
  background: #F7F8FC;
  padding: 24px 24px 24px 40px;
  @include bp(md) {
    width: 100%;
    background-color: transparent;
    padding: 24px 24px 0;
    margin-bottom: 30px;
  }
  @include bp(xs) {
    padding: 15px 20px 0;
    margin-bottom: 15px;
  }
  >ul{
    @include bp(md) {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 30px;
      @include bp(xs) {
        margin-bottom: 24px;
        gap: 24px;
      }
    }
    >li{
      display: flex;
      align-items: center;
      height: 75px;
      position: relative;
      margin-bottom: 20px;
      @include bp(md) {
        margin-bottom: 0;
        height: auto;
      }
      &:after{
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        left: 22px;
        top: calc(100% + 6px);
        background: #D8DAE6;
        @include bp(md) {
          width: 16px;
          height: 1px;
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 7px);
        }
        @include bp(xs) {
          width: 10px;
        }
      }
      i{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 45px;
        min-width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        font-style: normal;
        letter-spacing: 0.2em;
        color: #D8DAE6;
        z-index: 2;
        @include bp(md) {
          background: rgba(247, 248, 252, 0.4);
        }
        @include bp(xs) {
          width: 32px;
          min-width: 32px;
          height: 32px;
          font-size: 15px;
          line-height: 17px;
        }
        &:before{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          opacity: .4;
          box-shadow: 0 100px 80px rgba(41, 72, 152, 0.05), 0 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0 20px 13px rgba(41, 72, 152, 0.025), 0 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          pointer-events: none;
        }
        span{
          margin-left: 3px;
          margin-top: 2px;
        }
      }
      div{
        height: 100%;
        width: calc(100% - 45px);
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $text;
        @include bp(md) {
          display: none;
        }
        &:before{
          position: absolute;
          content: '';
          width: calc(100% + 20px);
          left: -20px;
          top: 0;
          height: 100%;
          opacity: 0.4;
          border-radius: 18px;
        }
        span{
          display: flex;
          align-items: center;
          padding-left: 40px;
          z-index: 1;
          position: absolute;
          width: calc(100% - 20px);
          left: -20px;
          top: 0;
          height: 100%;
          border-radius: 18px;
        }
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &.current{
        i{
          font-weight: 900;
          background-color: $purple;
          color: #fff;
          box-shadow: 0 8px 20px rgba(126, 87, 194, 0.25);
          &:before{
            display: none;
          }
        }
        div{
          font-weight: 500;
          color: $purple;
          &:before{
            box-shadow: 0 100px 80px rgba(41, 72, 152, 0.05), 0 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0 20px 13px rgba(41, 72, 152, 0.025), 0 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          }
          span{
            background-color: #fff;
          }
        }
      }
      &.checked{
        border: 1px solid $green;
        box-shadow: none;
      }
    }
  }
}

.admin-sidebar__step-name{
  display: none;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $purple;
  @include bp(md) {
    display: block;
  }
  @include bp(sm) {
    font-size: 16px;
    line-height: 19px;
  }
}

.admin-sidebar__menu{
  width: 258px;
  padding: 36px 24px 62px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(221, 222, 226, 0.5);
  @include bp(md) {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    height: 85px;
    padding: 0 60px;
    width: calc(100vw - 120px);
    background-color: #fff;
    border-right: none;
    border-top: 2px solid rgba(221, 222, 226, 0.5);
  }
  @include bp(xs) {
    padding: 0 40px;
    width: calc(100vw - 80px);
  }
  &.sm{
    width: 108px;
  }
  >ul{
    @include bp(md) {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: -10px;
    }
    li{
      margin-bottom: 22px;
      @include bp(md) {
        margin-bottom: 0;
      }
      a{
        padding: 10px 10px 10px 16px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        text-decoration: none;
        @include bp(md) {
          padding: 10px;
        }
        &:hover, &.current{
          text-decoration: none;
          color: $purple;
          svg{
            .stroke{
              stroke: $purple;
            }
            .fill{
              fill: $purple;
            }
          }
        }
        &.current{
          font-weight: 400;
        }
        i{
          display: flex;
          width: 35px;
          min-width: 35px;
          @include bp(md) {
            width: auto;
            min-width: unset;
          }
          svg{
            @include bp(md) {
              width: 21px;
            }
          }
        }
        span{
          @include bp(md) {
            display: none;
          }
        }
      }
    }
  }
  >a{
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover{
      i{
        background-color: $green;
      }
      span{
        color: $green;
      }
    }
    i{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      min-width: 50px;
      height: 48px;
      background: $accent;
      box-shadow: 0 15px 20px rgba(98, 60, 231, 0.35);
      border-radius: 0 15px 15px 15px;
      margin-right: 26px;
      transition: linear .2s;
      @include bp(md) {
        margin-right: 0;
        width: 38px;
        min-width: 38px;
        height: 36px;
      }
      svg{
        @include bp(md) {
          width: 11px;
        }
      }
    }
    span{
      color: $purple;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-decoration: none;
      transition: linear .2s;
      @include bp(md) {
        display: none;
      }
    }
  }
}
