// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$text: #666;
$black: #333;
$green: #26D68D;
$purple: #7E57C2;
$accent: #8624E1;
$default: "Roboto";
